html,body{
	height: 100%;width: 100%;margin: auto;
	padding: auto;font-size: 0px;
}
.box1{
	width: 100px;height: 100%;background-color: rgb(29,37,49);
	text-align: center;position: relative;display: inline-block;
}
.box1 img{margin-top: 10px;}
.bottom{
	display: inline-block;position: absolute;
	bottom: 20px;left: 20px;
}
.bottom img{padding: auto;margin-right: 15px;}
.box2{
	height: 100%;width: 250px;background-color: rgb(34,44,60);
	display: inline-block;margin: auto;font-size: 12px;
	vertical-align: top;position: relative;
}
.daxie{
	text-transform: uppercase;color: rgb(91,103,121);
	display: inline-block;
}
.box3{
	width: 200px;margin: auto;border-bottom: 1px solid rgb(42,53,71);
}
.right1{display: inline-block;float: right;margin-top: 15px;}
.xiaoxie{color: rgb(176,185,198);line-height: 0.1em;}
.inline img,p{display: inline-block;}
.padding{padding-left: 10px;}
.box4{width: 200px;margin: auto;}
.yuan{
	background-color: rgb(33,152,240);font-weight: 600;
	color: white;border: 10px solid rgb(33,152,240);
	border-radius: 10px;margin: auto;margin-left: 125px;
}
.yuan2{
	background-color: rgb(33,152,240);font-weight: 600;
	color: white;border: 10px solid rgb(33,152,240);
	border-radius: 10px;margin: auto;margin-left: 97px;
}
.yuan3{
	background-color: rgb(225,63,35);font-weight: 400;
	color: white;border: 10px solid rgb(225,63,35);
	border-radius: 10px;margin: auto;margin-left: 93px;
}
.text1{
	font-weight: 0.1em;color: white;position: absolute;
	bottom: 20px;left: 25px;
}
.box5{
	width: calc(100% - 350px);background-color: white;
	height: 100%;display: inline-block;vertical-align: top;
	position: relative;font-size: 0px;
}
.box6{
	height: 80px;width: 100%;border-bottom: 1px solid rgb(230,233,236);
	position: relative;font-size: 20px;
}
.box6 img{position: absolute;right: 0px;}
.box6 p{margin-left: 30px;color: rgb(53,64,82);font-size: 20px;}
.box7{
	width: 400px;height: calc(100% - 81px);display: inline-block;
	font-size: 12px;border-right: 1px solid rgb(230,233,236);
	overflow: hidden;
}
.wenhao{
	border:1px solid rgb(230,233,236);color: rgb(230,233,236);
	width: 350px;margin: 10px auto;border-radius: 5px;
}
.wenhao p{margin-left: 10px;}
.wenhao img{margin-left: 260px;}
.biankuang{
	height: 115px;border-bottom: 1px solid rgb(230,233,236);
	padding-left: 25px;width: 375px;line-height: 1.5em;
}
.fudong{float: left;line-height: 0.1em;margin-top: 10px;}
.fudong p{margin-left: 20px;}
.time{float: right;}
p.time{padding-right: 20px;}
p.blue{font-size:13px;font-weight: 900;color:rgb(0,170,255);}
#weidu{
	border-left: 5px solid rgb(0,170,255);position: relative;
	width: 370px;border-top: 1px solid rgb(230,233,236);
}
p.width{width: 320px;}
.yuan4{
	background-color: rgb(33,152,240);font-weight: 600;
	color: white;border: 5px solid rgb(33,152,240);
	border-radius: 50%;position: absolute;bottom: 5px;right: 15px;
	width: 15px;text-align: center;
}
p.from{color: rgb(181,181,181);}
.box8{
	width: calc(100% - 401px);height: calc(100% - 81px);
	position: absolute;top: 81px;left: 401px;
}
.ren{
	height: 61px;width: 100%;border-bottom: 1px solid rgb(230,233,236);
	font-size: 0px;
}
p.text9{font-size: 16px;margin-left: 20px;font-weight: 600px;}
p.green{font-size: 16px;color: green;}
.kuang{
	border: 1px solid rgb(230,233,236);width: 30px;height: 30px;
	text-align: center;line-height: 30px;font-size: 14px;
}
.inline2{display: inline-block;}
.size{font-size: 14px;}
.leftyuan{border-radius: 10px 0px 0px 10px;}
.rightyuan{border-radius: 0px 10px 10px 0px;}
.dingwei1{
	position: absolute;right: 220px;top: 15px;
}
.dingwei2{
	position: absolute;top: 15px;right: 50px;
}
p.dingwei3{
	position: absolute;top:10px;right: 130px;
	font-weight: 600;
}
.box9{
	position: absolute;top: 62px;
	width: 100%;
}
.xiahuaxian{border-bottom: 1px solid rgb(230,233,236);padding-bottom: 5px;}
.liaotian1{width: 100%;font-size: 12px;}
.xiahuaxian img{position: absolute;left: 10px;}
p.suojin{margin-left: 70px;line-height: 1.2em;}
.xiahuaxian p{margin-bottom: auto;margin-right: 15px;}
.cu{font-weight: 600;}
.hui{color:rgb(127,143,164); }
.yi{position: absolute;top: 10px;}
.er{position: absolute;top:110px; }
.bgc{background-color: white;font-size: 12px;}
.ding1{position: absolute;top: 298px;left: 280px;}
.lll{
	border:1px solid rgb(230,233,236);
	position: absolute;bottom: 10px;font-size: 12px;left: 5px;
}
.liaotian2{font-size: 12px;width: 100%;padding-bottom: 10px;}
